---
layout: default
Title: Home • Kent Photography, Ottawa
meta: Kent photography offers diverse services from fine art photography to photo restoration services
---

<div class="banner-head container">
  <div class="embed embed-3by2">
    <img class="img-flex embed-item filter" src="{{site.data.home.bannerimage}}" alt="">
  </div>

  <div class="content centered island-1-2 ">
    <h2>{{site.data.home.heading}}</h2>
    <p>{{site.data.home.text}}</p>
    {% include button.html %}
  </div>
</div>

<div class="island-2">
  <p class="section-text tera">{{site.data.home.body}}</p>
</div>

<h3 class="gutter-2 white-bg push-none pad-t pad-b">Services offered</h3>
<div class="grid white-bg">
  {% for services in site.data.services.allservices limit: 4 %}
    <div class="unit xs-1 s-1 m-1-2 l-1-2">
      <article class="card">
        <a class="block gutter-2" href="services/#{{services.serviceslink}}">
          <h5 class="dark-grey">{{services.servicesname}}</h5>
          <div class="embed embed-3by2 push">
            <img class="embed-item" src="{{services.servicesimage}}" alt="">
          </div>
        </a>
      </article>
    </div>
  {% endfor %}
</div>
