---
layout: default
Title: Services • Kent Photography
meta: Services offered by Bill Kent
---

<section class="">
  <h2>Services</h2>
  <ul class="list-group-inline">
    <p>hello</p>
    {% for work in site.data.services %}
    <p>hello</p>
      {% include services-list.html data=work %}
    {% endfor %}
  </ul>
  <!-- <div class="services#{{site.data.allservices.serviceslink}}">
    {% for work in site.data.services %}
      {% include services-main.html data=work %}
    {% endfor %}
  </div> -->

  <h2>Workshops</h2>

</section>
