---
layout: default
Title: Work • Kent Photography
meta: About Bill, his work and his interests.
---

<div class="categories">
  <ul class="list-group-inline pad-t">
    <li class="list-group-items gutter-2"><a class="underline" href="#">Technical</a></li>
    <li class="list-group-items gutter-2"><a class="underline" href="#">Events</a></li>
    <li class="list-group-items gutter-2"><a class="underline" href="#">Potraits</a></li>
  </ul>
</div>
<div class="grid">
  {% for work in site.work %}
  <div class="unit xs-1 s-1 m-1-2 l-1-2">
    {% include work-thumb.html data=work %}
  </div>
  {% endfor %}
</div>
