<section class="posts">
  <div class="grid">
    <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 gutter white-bg pad-t">
      <h2 class="dark-grey">Collection name</h2>
      <p class="milli bold dark-grey">{{page.desc}}</p>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 gutter white-bg pad-t">
      <figure class="relative">
        <img class="img-flex" src="{{page.thumb}}" alt="">
        <figcaption class="absolute pin-t nano italic">{{page.mainfigcaption}}</figcaption>
      </figure>
    </div>
  </div>
  <div class="text max-length pad-t">
    <p class="milli">{{page.text}}</p>
  </div>
  <div class="grid collection">
    <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 gutter-2">
      <figure class="relative">
        <img class="img-flex" src="{{page.image}}" alt="">
        <figcaption class="absolute pin-t milli italic">{{page.figcaption}}</figcaption>
      </figure>
    </div>
  </div>
</section>
