<section class="posts">
  <div class="grid">
    <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 gutter">
      <h2 class="">Collection name:</h2>
      <p>{{work.desc}}</p>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 gutter">
      <figure class="relative">
        <img class="img-flex" src="{{work.thumb}}" alt="">
        <figcaption class="absolute pin-t milli italic">{{work.mainfigcaption}}</figcaption>
      </figure>

    </div>
  </div>
  <div class="text max-length">
    <p>{{work.text}}</p>
  </div>
  <div class="grid collection">
    <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 gutter">
      <figure class="relative">
        <img class="img-flex" src="{{work.image}}" alt="">
        <figcaption class="absolute pin-tl milli italic">{{work.figcaption}}</figcaption>
      </figure>
    </div>
  </div>
</section>
