<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{site.baseurl}}/css/modules.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/grid.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/type.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif" rel="stylesheet">
  <meta name="{{page.meta}}" content="">
</head>
<body>

  <header class="w-1">
    <div class="grid">
      <div class="unit xs-1 s-1 m-1-2 l-1-2 gutter-2">
        <a href="{{site.baseurl}}/index">
          <i class="icon i-128">
            <img src="/images/logo.svg" alt="">
          </i>
        </a>
      </div>
      <div class="unit xs-1 s-1 m-1-2 l-1-2 text-center">
        <nav class="island">
          <ul class="list-group-inline pad-t-1-2">
            <li class="gutter-1-2"><a class="island-1-2" href="{{site.baseurl}}/services">services</a></li>
            <li class="gutter-1-2"><a class="island-1-2" href="{{site.baseurl}}/work">work</a></li>
            <li class="gutter-1-2"><a class="island-1-2" href="{{site.baseurl}}/play">play</a></li>
            <li class="gutter-1-2"><a class="island-1-2" href="{{site.baseurl}}/about">about</a></li>
            <li class="gutter-1-2"><a class="island-1-2 highlight" href="{{site.baseurl}}/contact">contact</a></li>
          </ul>
        </nav>
      </div>
    </div>


  </header>

  <main>
    {{content}}
  </main>

  <footer class="island-1-2">
    <div class="footer-container">
      <div class="footer-content">
        <p class="micro">email: bill@kentgroup.net<br>behance: www.behance.net/billkent<br>facebook: www.facebook.com/bill.kent.566<br>© 2018 William Kent</p>
      </div>
    </div>
  </footer>

</body>
</html>
